@import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700");
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600|Roboto Mono");

@font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 300;
    src: local('Dosis Light'), local('Dosis-Light'), url(http://fonts.gstatic.com/l/font?kit=RoNoOKoxvxVq4Mi9I4xIReCW9eLPAnScftSvRB4WBxg&skey=a88ea9d907460694) format('woff2');
}

@font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 500;
    src: local('Dosis Medium'), local('Dosis-Medium'), url(http://fonts.gstatic.com/l/font?kit=Z1ETVwepOmEGkbaFPefd_-CW9eLPAnScftSvRB4WBxg&skey=21884fc543bb1165) format('woff2');
}

body {
    background-color: #e9ebee !important;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif, Open Sans;
    font-size: 14px;
    line-height: 1.42857;
    height: 350px;
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    overflow-x: hidden;
    overflow-y: auto;

}

.form-control {
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #999999;
    border-radius: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #333333;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}

.login-box {
    width: 360px;
    margin: 7% auto;
}

.login-page {
    background: #d2d6de;
}

.login-logo {
    font-size: 35px;
    text-align: center;
    margin-bottom: 25px;
    font-weight: 300;
}

.login-box-msg {
    margin: 0;
    text-align: center;
    padding: 0 20px 20px 20px;
}

.login-box-body {
    background: #fff;
    padding: 20px;
    border-top: 0;
    color: #666;
}

.has-feedback {
    position: relative;
}

.form-group {
    margin-bottom: 15px;
}

.has-feedback .form-control {
    padding-right: 42.5px;
}

.login-box-body .form-control-feedback {
    color: #777;
}

.form-control-feedback {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    pointer-events: none;
}

.btn-red {
    background-color: #bf2727 !important;
}

.margin_top_35 {
    margin-top: 35px;
}

.margin_top_10 {
    margin-top: 10px;
}

.border_btm {
    border-color: #e9ebee !important;
}

.vertcal {
    border: 1px solid #cfcece;
    height: 100vh;
    width: 0px;
}

#err_msg {
    color: red;
    font-size: 17px;
}